body {

font: 11px Verdana, Helvetica, sans-serif;
color: #303030;
background-color: #BFBBB0;
text-align: center;

}

a { color: #12395D; }
a:hover { color: #011AaB; }

#container {

width: 700px;
background-color: #E0DDD6;
border: 4px solid #808080;
margin: 0px auto;
text-align: justify;
padding: 40px;

}

#container HR {
margin-top: 40px;
border: 4px solid #E0DDD6;
width: 95%;
text-align:center;
}

#container .title {
font-family:arial;
font-size:33pt;
font-weight:bold;
line-height:23pt;
color: #E71A91;
margin:0px 0px 6px 0px;
letter-spacing:-1px;
-webkit-text-stroke-color: #F7E1BF;
-webkit-text-stroke-width: 2px;
}

#container .subtitle {
font-family:trebuchet ms;
font-size:17pt;
font-weight:bold;
line-height:23pt;
color: #123A5D;;
margin:0px 0px 6px 0px;
letter-spacing:-1px;
}

#container .text {
margin-left: 10px;
}
